<style>
  .space10px {
     margin-bottom: 10px;
  }
</style>

<p class="space10px"></p>
<section class="topnav" id="myTopnav">

	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		Menu <i class="fa fa-bars" aria-hidden="true"></i>
	</a>
    {% assign navigation_pages = site.html_pages | sort: 'nav_position' %}
    {% for p in navigation_pages %}
        {% if p.nav_position != blank %}
            {% if p.nav_position == page.nav_position %}
                <a href="{{p.url}}" class="btn2active">{{p.title}}</a>
            {% else %}
                <a href="{{p.url}}" class="btn2">{{p.title}}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

</section>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
