.right{
    float:right;
}

.left{
    float:left;
}

h1 a:link {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 0px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}



h1 a:link {
  color: #b5e853;
}

h1 a:visited {
  color: #b5e853;
}

h1 a:active {
  color: #b5e853;
}

h1 a:hover {
  color: #b5e853;
  text-shadow: 0px 0px 10px #b5e853;
}


.v-center {
  position: relative;
  transform: translateY(50%);
}

.all-copy p {  
  -webkit-user-select: all;  /* Chrome all / Safari all */
  -moz-user-select: all;     /* Firefox all */
  -ms-user-select: all;      /* IE 10+ */
  user-select: all;          /* Likely future */   
}