/* menu for papers*/

pre {
    display: block;
    margin: 0;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #696969;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #696969;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid #696969;;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}









/* top navigation */
.topnav {
  overflow: visible;
  min-height: 20px;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .btn3 {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all link. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.btn3 {
    float: left;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .topnav.responsive
  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



.right{
    float:right;
}

.left{
    float:left;
}

h1 a:link {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 0px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.tabcontent {
  transition: opacity .5s ease 0s;
}




h1 a:link {
  color: #b5e853;
}

h1 a:visited {
  color: #b5e853;
}

h1 a:active {
  color: #b5e853;
}

h1 a:hover {
  color: #b5e853;
  text-shadow: 0px 0px 10px #b5e853;
}


.v-center {
  position: relative;
  transform: translateY(50%);
}

.all-copy {  
  -webkit-user-select: all;  /* Chrome all / Safari all */
  -moz-user-select: all;     /* Firefox all */
  -ms-user-select: all;      /* IE 10+ */
  user-select: all;          /* Likely future */   
}