---
---

{{reference}}

<style>
  .vspace20px {
     margin-bottom: 20px;
  }
</style>

<div id="{{key}}-materials">
	
  <div class="nav nav-pills">

	
		{% if entry.abstractfile %}
			<a data-toggle="collapse" data-target="#{{key}}-abstractfile">[Abstract]</a>&nbsp;
		{% endif %}


		{% if entry.bibtexfile %}
			<a data-toggle="collapse" data-target="#{{key}}-bibtexfile">[bibtex]</a>&nbsp;
		{% endif %}

    {% if entry.paperpdf %}
   		<a href="{{ site.url }}/pdf/{{entry.paperpdf}}">[PDF]</a>&nbsp;
    {% endif %}
		

		
		{% if entry.abstractfile %}
			<div id="{{key}}-abstractfile" class="collapse">
				{{entry.abstractfile}}
				test
			</div>
		{% endif %}

		
		{% if entry.bibtexfile %}
			<div id="{{key}}-bibtexfile" class="collapse">
<div markdown="1">
{% highlight bibtex %}
@inproceedings{scieur2016regularized,
  title={Regularized Nonlinear Acceleration},
  author={Scieur, Damien and d'Aspremont, Alexandre and Bach, Francis},
  booktitle={Advances In Neural Information Processing Systems},
  pages={712--720},
  year={2016}
}
{% endhighlight %}
$$ test $$
</div>
			</div>
		{% endif %}

  </div>
	<p class="vspace20px">
	</p>	
</div>

