---
---

{% if entry.paperurl %}
	{{reference | hrefBib: entry.paperurl }}
{% else %}
	{% if entry.paperpdf %}
		{{reference | internalhrefBib: site.url, site.dir_papers, entry.paperpdf }}
	{% else %}
		{{reference}}
	{% endif %}
{% endif %}


<style>
  .vspace_defaut {
     margin-bottom: 2.5rem;
  }
</style>



<div class="marge" id="{{key}}-materials">

	
	<div class="tab" id="#myContent">
		<button class="tablinks" onclick="openTab(event, '#{{key}}-idBibtex')" data-local="#myContent">[Bibtex]</button>
		{% if entry.abstract %}
		<button class="tablinks" onclick="openTab(event, '#{{key}}-idAbstract')" data-local="#myContent">[Abstract]</button>
		{% endif %}
	</div>
			
	<div id="#{{key}}-idBibtex" class="tabcontent" style="padding: 0px 0px;" data-local="#myContent">

<div markdown="1" class="all-copy">
{% highlight bibtex %}
{{ entry.bibtex | correctBibEntry }}
{% endhighlight %}
</div>
	</div>

				
		{% if entry.abstract %}
			<div id="#{{key}}-idAbstract" class="tabcontent" data-local="#myContent">
                {{entry.abstract}}
			</div>
		{% endif %}

		
	<p class="vspace_defaut">
	</p>	
</div>



<script>
function openTab(evt, tabName) {
	var i, tabcontent, tablinks;
	elementFamilly = evt.currentTarget.parentElement.parentElement
	makeActive = true;
	
	if (evt.currentTarget.classList.contains("active")) {
		makeActive = false;
	}
	
	tabcontent = elementFamilly.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
	tabcontent[i].style.display = "none";
	}
	tablinks = elementFamilly.getElementsByClassName("tablinks");
	for (i = 0; i < tablinks.length; i++) {
	tablinks[i].className = tablinks[i].className.replace(" active", "");
	}
	
	if(makeActive){
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " active";
	}
	
}
</script>

