<!DOCTYPE html>
<html>
	{% include head.html %} 
	
	{% include header_small.html %}

  <body>
		{% for slide in site.slides_entries %}

		  <div class="container">
			    <h2> {{project.title}} </h2>
					<p>
			    <img src="{{ project.picture }}" alt="" width="30%" style="float:right" class=" img-responsive">
					{{project.content}}
					</p>
					{% if project.url %}
						<a href = "{{project.website}}"> [Website]</a>
					{% endif %}
					 
					{% if project.git %}
						<a href = "{{project.git}}"> [Git repository] </a>
					{% endif %}
				</div>
		  </div>
			<hr>
			<br>
		{% endfor %}
    {% include analytics.html %}
  </body>
	{% include footer.html %}
</html>


