<!DOCTYPE html>
<html>
	{% include head.html %} 
	
	{% include header_small.html %}

  <body>
		<div class="container">
		
		
			<h2> Talks </h2>
			<br>
			{% assign sorted_entries =  site.talk_entries | sort: 'year' | reverse %}
			{% assign metadata = site.talk_metadata %}
			{% assign type = "talk" %}
			{% include slides_display_list.html %}
			
			<h2> Informal Presentations </h2>
			<br>
			{% assign sorted_entries =  site.presentation_other_entries | sort: 'year' | reverse %}
			{% assign metadata = site.presentation_other_metadata %}
			{% assign type = "other" %}
			{% include slides_display_list.html %}
			
			<h2> Posters </h2>
			<br>
			{% assign sorted_entries =  site.poster_entries | sort: 'year' | reverse %}
			{% assign metadata = site.poster_metadata %}
			{% assign type = "poster" %}
			{% include slides_display_list.html %}
			
		</div>
		
    {% include analytics.html %}
  </body>
	{% include footer.html %}
</html>


